# Ignore testing file
test.py
test

# Ignore utils
utils

# Ignore build
Compiled/

# Other
config.json

# Ignore all python config files
*.pyc
__pycache__/database.cpython-38.pyc
__pycache__/osBased.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
__pycache__/Void.cpython-38.pyc
