# Ignore testing file
test.py
check.py
test
aliases.pickle

# Ignore utils
utils

# Ignore build
output/

# Other
config.json
commands.txt
config.yml
.vscode/

# Ignore venv
lib
share

# Ignore all python config files
*.pyc
__pycache__/
