# Ignore testing file
test.py
check.py
test
aliases.pickle

# Ignore utils
utils

# Ignore build
Compiled/

# Other
config.json
commands.txt

# Ignore all python config files
*.pyc
__pycache__/database.cpython-38.pyc
__pycache__/osBased.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
__pycache__/Void.cpython-38.pyc
